<div classs="contatiner">
  <div class="row">
    <div class="col m8 offset-m2">
      <h5>Orders--</h5>
      <mat-list>
        <mat-list-item *ngFor="let $order of $orders" style="margin: 16px 0px">
          <a [routerLink]="['/ordered drugs/'+$order.id]" style="width: 100%;"> 
              <mat-card id="order"  style="padding: 16px 36px; ">
                <pre>{{$orders | json}}</pre>
              </mat-card>
            </a>
        </mat-list-item>
      </mat-list>
    </div>
    
  </div>
</div>
